body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* 系統顏色 */
:root {
    --primary-color: #0B1697;
    --danger-color: #DC3545;
    --dark-color: #5D5D5D;
    --dark-gray-color: #84837F;
    --warning-color: #FFC107;
    --darken-color: #5D5D5De6;
    --light-gray-color: #F0EDE7;
    --lighter-color: #FFFFFFcc;
    --dark-green-color: #198754;
    --gray-green-color: #AFB8A7;
    --light-yellow-color: #D8D2C5;
}