@import 'base';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'vue-datepicker-next/index.css';

body {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
}
