@import 'base';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'vue-datepicker-next/index.css';
@import 'font-awesome/css/font-awesome.min.css';

body {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

  .is-page-loading {
    max-height: 100vh;
    overflow: hidden;
  }

  .navbar {
    height: 85px;
  }

  .app-layout {
    margin-top: 85px;
    min-height: calc(100vh - 85px - 250px);
  }

  .footer {
    min-height: 250px;
  }

  .row {
    margin: 0;
  }

  @media (max-width: 992px) {
    .navbar {
      max-height: 55px;

      .navbar-collapse-show {
        position: fixed;
        bottom: 0;
        background: white;
        width: 100%;
        left: 0;
        display: flex !important;
        justify-content: space-around;
        padding: 1em 0.5em;
      }
    }
    .app-layout {
      margin-top: 55px;
      min-height: calc(100vh - 55px - 775px);
    }
    .footer {
      margin-bottom: 75px;
    }
  }
}

.flex-table {
  position: relative;

  .flex-thead {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
  }

  .flex-tr {
    display: flex;
    padding: 15px 30px;
    column-gap: 2em;
  }

  .flex-td,
  .flex-th {
    flex: 1;
    white-space: break-spaces;
    word-break: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-th {
    position: relative;
    color: var(--primary-color);
    font-size: 1.5em;
    border: 2px solid;
    border-bottom: none;
    border-top: none;

    &:last-child {
      border: none;
    }
  }

  .flex-td {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    padding: 15px;

    .flex-thead {
      display: none;
    }

    .flex-tbody .flex-tr {
      flex-direction: column;
      align-items: center;
      margin: 15px 0;
      padding: 0;

      .flex-td {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 1.5em;
      }
    }
  }
}
